.object-attribute {
    padding: 20px;
}

.object-attribute-row {
    display: flex !important;
    align-items: center;
}

/* .attribute-definition div {
    margin-bottom: 10px;
}

.attribute-definition div span {
    margin-right: 5px;
} */
